/* Navbar */
.navbar {
    background-color: #a3d3fb;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #023047;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100%; /* Asegura que ocupe todo el ancho */
    left: 0; /* Alinea al borde izquierdo */
}

.navbar h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #023047;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: #fbaccb;
    color: #a3d3fb;
}